<div id="home-body">
    <%- include("./home-intro.ejs") %>
    <%- include("./home-des-slogan.ejs") %> 
    <%- include("./home-product.ejs", {categories}) %>
    <%- include("./home-count-up.ejs") %>
    <%- include("./home-project.ejs") %> 
</div>