<%- include('../common/head.ejs', {content: "Home Page GPT Group", keyword: "GPT GROUP, GPT", title: "GPT GROUP"}) %> 
    <div id="home">
        <div class="home-intro">
            <%- include('./home-brand.ejs') %> 
            <%- include('./home-info.ejs') %> 
            <%- include('./home-social.ejs', contact ) %>
        </div>
        <%- include('./home-menu.ejs') %> 
    </div>
<%- include('../common/tail.ejs') %> 