<div class="product-detail-container">
    <%- include('./detail-img-contact.ejs', product) %>
    <%- include('../../common/nav-product/nav-product.ejs', {categories, index: product.category.id}) %>
    <%- include('./detail-descritption.ejs', product) %>   
    <%- include('./detail-features.ejs', product) %>
    <%- include('./detail-contact.ejs') %>   
    <%- include('./detail-makeForU.ejs', product) %>
    <%- include('./detail-similar-project.ejs', {category, thisProductId: product.id}) %>   
</div>