<div class="product-detail-container">
    <%- include('./detail-img-contact.ejs', product) %>
    <%- include('../../common/nav-product/nav-product.ejs', {categories, index: product.category.id}) %>
    <%- include('./detail-descritption.ejs', product) %>   
    <%- include('./detail-features.ejs', product) %>
    <%- include('./detail-contact.ejs') %>   
    <%- include('./detail-makeForU.ejs', product) %>
    <%- include('../../common/card-project/card-project.ejs', {title: "OTHER PRODUCTS", description: "Our other products"}) %>   
</div>