<div class="product-container">
    <%- include('./detail-img-contact.ejs') %>
    <%- include('../../common/nav-product/nav-product.ejs', {categories, index}) %>
    <%- include('./detail-descritption.ejs') %>   
    <%- include('./detail-features.ejs') %>   
    <%- include('./detail-contact.ejs') %>   
    <%- include('./detail-makeForU.ejs') %>   
    <!-- <%- include('./detail-features-web.ejs') %>    -->
    <%- include('./detail-similar.ejs') %>   
</div>